<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>XX爬虫监控平台</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="XX爬虫监控平台"/>


    <!--  Social tags      -->
    <meta name="keywords" content="XX爬虫监控平台">

    <meta name="description" content="XX爬虫监控平台">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="XX爬虫监控平台">
    <meta itemprop="description" content="XX爬虫监控平台">


    <!-- Open Graph data -->
    <meta property="og:title" content="XX爬虫监控平台"/>
    <meta property="og:type" content="XX爬虫监控平台"/>

    <meta property="og:description" content="XX爬虫监控平台"/>
    <meta property="og:site_name" content="XX爬虫监控平台"/>


    <!-- Bootstrap core CSS     -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Dashboard core CSS    -->
    <link href="../public/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../public/css/demo.css" rel="stylesheet"/>


    <!--     Fonts and icons     -->
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">
    <link href='../public/css/685fd913f1e14aebad0cc9d3713ee469.css' rel='stylesheet' type='text/css'>
    <link href="../public/css/pe-icon-7-stroke.css" rel="stylesheet"/>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="../../assets/img/full-screen-image-3.jpg">
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="../public/picture/default-avatar.png"/>
                </div>
            </div>

            <ul class="nav">

                <li>
                    <a href="taskList.html">
                        <i class="pe-7s-albums"></i>
                        <p>任务列表</p>
                    </a>
                </li>

                <li>
                    <a href="workerList.html">
                        <i class="pe-7s-refresh-2"></i>
                        <p>worker列表</p>
                    </a>
                </li>

                <li>
                    <a href="workerRunningList.html">
                        <i class="pe-7s-next"></i>
                        <p>worker状态列表</p>
                    </a>
                </li>

                <li>
                    <a data-toggle="collapse" href="#tablesExamples1">
                        <i class="pe-7s-news-paper"></i>
                        <p>app支持列表
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="tablesExamples1">
                        <ul class="nav">
                            <li><a href="#"> 淘宝</a></li>
                            <li><a href="#"> 拼多多</a></li>
                        </ul>
                    </div>
                </li>

                <li class="active">
                    <a href="apiReportList.html">
                        <i class="pe-7s-note2"></i>
                        <p>api监控统计</p>
                    </a>
                </li>

                <li>
                    <a href="capacha.html">
                        <i class="pe-7s-camera"></i>
                        <p>验证码服务</p>
                    </a>
                </li>

                <li>
                    <a data-toggle="collapse" href="#proxyExamples">
                        <i class="pe-7s-disk"></i>
                        <p>代理服务
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="proxyExamples">
                        <ul class="nav">
                            <li><a href="#"> 西刺代理</a></li>
                            <li><a href="#"> 阿里代理</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#">
                        <i class="pe-7s-volume"></i>
                        <p>预警通知列表</p>
                    </a>
                </li>

                <li>
                    <a href="ucloud.html">
                        <i class="pe-7s-network"></i>
                        <p>vhost列表</p>
                    </a>
                </li>

                <li>
                    <a data-toggle="collapse" href="#componentsExamples">
                        <i class="pe-7s-add-user"></i>
                        <p>用户管理
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="componentsExamples">
                        <ul class="nav">
                            <li><a href="#"> 用户模块</a></li>
                            <li><a href="#"> 用户监控</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon">
                        <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                        <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">爬虫API调用统计</a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown dropdown-with-icons">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i>
                                <p class="hidden-md hidden-lg">
                                    更多
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu dropdown-with-icons">
                                <li>
                                    <a href="#" onclick="loginOut()" class="text-danger">
                                        <i class="pe-7s-close-circle"></i>
                                        登出
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="toolbar">
                                <button class="btn btn-round" id="addBtn" onclick="addAppSupport()">新增</button>
                            </div>
                            <input type="hidden" id="monitorHost" value=<%= MONITOR_HOST %>
                            <table id="bootstrap-table" class="table table-striped table-no-bordered table-hover">
                                <thead>
                                <th data-field="first" data-checkbox="true"></th>
                                <th data-field="appCode" data-sortable="true">app代码</th>
                                <th data-field="appName" data-sortable="true">app名称</th>
                                <th data-field="cardType" data-sortable="true">app类型</th>
                                <th data-field="loginWay" data-sortable="true">登入方式</th>
                                <th data-field="channel" data-sortable="true">通道</th>
                                <th data-field="createDate">创建时间</th>
                                <th data-field="updateDate">更新时间</th>
                                <th data-field="appStatus">状态</th>
                                <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
                                    data-formatter="operateFormatter">操作
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td id="appCode"><strong>taobao.spider</strong></td>
                                    <td id="appName">淘宝</td>
                                    <td id="channel">电商网站</td>
                                    <td id="loginWay">phone.number</td>
                                    <td id="appType">app</td>
                                    <td>2019-01-02 17:23:22</td>
                                    <td>2019-01-02 18:11:36</td>
                                    <td>
                                        <button type="button" class="btn btn-fill btn-success edit">
                                        <span class="btn-label">
                                                <i class="fa fa-check"></i>
                                            </span>
                                            启用
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-fill btn-danger edit">
                                        <span class="btn-label">
                                                <i class="fa fa-times"></i>
                                            </span>
                                            停用
                                        </button>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->

            </div>
        </div>
    </div>
</div>

</body>

<!--   Core JS Files and PerfectScrollbar library inside jquery.ui   -->
<script src="../public/js/jquery.min.js" type="text/javascript"></script>
<script src="../public/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../public/js/bootstrap.min.js" type="text/javascript"></script>


<!--  Forms Validations Plugin -->
<script src="../public/js/jquery.validate.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="../public/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="../public/js/bootstrap-datetimepicker.js"></script>

<!--  Select Picker Plugin -->
<script src="../public/js/bootstrap-selectpicker.js"></script>

<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
<script src="../public/js/bootstrap-checkbox-radio-switch-tags.js"></script>

<!--  Charts Plugin -->
<script src="../public/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../public/js/bootstrap-notify.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="../public/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->
<script src="../public/js/jquery-jvectormap.js"></script>

<!--  Google Maps Plugin    -->
<script src="../public/js/aa743e8f448a4792bad10d201a7080f6.js"></script>

<!-- Wizard Plugin    -->
<script src="../public/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="../public/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->
<script src="../public/js/jquery.datatables.js"></script>

<!--  Full Calendar Plugin    -->
<script src="../public/js/fullcalendar.min.js"></script>

<!-- Light Bootstrap Dashboard Core javascript and methods -->
<script src="../public/js/light-bootstrap-dashboard.js"></script>

<!--   Sharrre Library    -->
<script src="../public/js/jquery.sharrre.js"></script>

<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="../public/js/demo.js"></script>


<script type="text/javascript">
    var $table = $('#bootstrap-table');
    var monitorHost = $('#monitorHost').val();

    function operateFormatter(value, row, index) {
        return [
            '<a rel="tooltip" title="编辑" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            '<a rel="tooltip" title="删除" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
            '<i class="fa fa-remove"></i>',
            '</a>'

        ].join('');
    }

    $().ready(function () {
        window.operateEvents = {
            'click .view': function (e, value, row, index) {
                info = JSON.stringify(row);

                swal('爬虫可用状态详情: ', info);
            },
            'click .edit': function (e, value, row, index) {
                nRes = {};
                eRes = {};
                if (row.appStatus.indexOf('启用') >= 0) {
                    nRes = {
                        nStatus: true,
                        nName: '启用'
                    }
                    eRes = {
                        eStatus: false,
                        eName: '停用'
                    }
                } else {
                    nRes = {
                        nStatus: false,
                        nName: '停用'
                    }
                    eRes = {
                        eStatus: true,
                        eName: '启用'
                    }
                }
                nAppCode = row.appCode.replace('<strong>', '').replace('</strong>', '');
                swal({
                    showConfirmButton: false,
                    html: '\n' +
                    '<form class="form-horizontal" id="appSupportPost" onsubmit=appSupportOperation(monitorHost+"monitor/metrics/bankSupportPost")>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="firstname" class="col-sm-4 control-label">银行代码:</label>\n' +
                    '    <div class="col-sm-6">\n' +
                    '      <input type="hidden" name="userName" value=<%= username %>>\n' +
                    '      <input type="text" value="' + nAppCode + '" readonly="readonly" class="form-control" name="appCode" placeholder="请输入银行代码">\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="lastname" class="col-sm-4 control-label">平台名称:</label>\n' +
                    '    <div class="col-sm-6">\n' +
                    '      <input type="text" value="' + row.appName + '" readonly="readonly" class="form-control" name="appName" placeholder="请输入平台名称">\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="lastname" class="col-sm-4 control-label">银行卡类型:</label>\n' +
                    '    <div class="col-sm-6">\n' +
                    '      <input type="text" value="' + row.cardType + '" readonly="readonly" class="form-control" name="cardType" placeholder="请输入银行卡类型">\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="lastname" class="col-sm-4 control-label">渠道:</label>\n' +
                    '    <div class="col-sm-6">\n' +
                    '      <input type="text"   value="' + row.channel + '"readonly="readonly" class="form-control" name="channel" placeholder="请输入渠道">\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="lastname" class="col-sm-4 control-label">登入方式:</label>\n' +
                    '    <div class="col-sm-6">\n' +
                    '      <input type="text" value="' + row.loginWay + '" readonly="readonly" class="form-control" name="loginWay" placeholder="请输入登入方式">\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <label for="lastname" class="col-sm-4 control-label">状态:</label>\n' +
                    '    <div class="col-sm-6">\n' +
                    '      <label class="radio-inline">\n' +
                    '        <input type="radio" name="appStatus" value="' + nRes.nStatus + '" checked> ' + nRes.nName + '\n' +
                    '    </label>\n' +
                    '    <label class="radio-inline">\n' +
                    '        <input type="radio" name="appStatus"  value="' + eRes.eStatus + '"> ' + eRes.eName + '\n' +
                    '    </label>' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="form-group">\n' +
                    '    <div class="col-sm-offset-1 col-sm-10">\n' +
                    '      <button type="submit" class="btn btn-info btn-fill">提交修改</button>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '</form>\n'

                });
            },
            'click .remove': function (e, value, row, index) {
                nAppCode = row.appCode.replace('<strong>', '').replace('</strong>', '');
                swal({
                    showConfirmButton: false,
                    title: "确定要删除吗?",
                    type: "warning",
                    html: '\n' +
                    '<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>' +
                    '<form class="form-horizontal" id="appSupportPost" onsubmit=appSupportOperation(monitorHost+"monitor/metrics/bankSupportDel")>\n' +
                    ' <input type="hidden" value="' + nAppCode + '" name="appCode">\n' +
                    ' <input type="hidden" value="' + row.cardType + '" name="cardType">\n' +
                    ' <input type="hidden" value="' + row.channel + '" name="channel">\n' +
                    ' <input type="hidden" value="' + row.loginWay + '" name="loginWay">\n' +
                    ' <input type="hidden" name="userName" value=<%= username %>/>\n' +
                    '  <div class="form-group">\n' +
                    '    <div class="col-sm-offset-1 col-sm-10">\n' +
                    '      <button type="submit" class="btn btn-info btn-fill">确认</button>\n' +
                    '      <button type="button" class="btn btn-danger btn-fill">取消</button>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '</form>\n'
                });
            }
        };

        $table.bootstrapTable({
            toolbar: ".toolbar",
            clickToSelect: true,
            showRefresh: false,
            search: true,
            showToggle: false,
            showColumns: true,
            pagination: true,
            searchAlign: 'right',
            pageSize: 10,
            clickToSelect: false,
            pageList: [10, 20, 30, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return "共 <strong>" + totalRows + "</strong> 条 记 录    "
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + " 条 / 页";
            },
            icons: {
                refresh: 'fa fa-refresh',
                toggle: 'fa fa-th-list',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });

    });

    function addAppSupport() {
        swal({
            showConfirmButton: false,
            html: '\n' +
            '<form class="form-horizontal" id="appSupportPost" onsubmit=appSupportOperation(monitorHost+"monitor/metrics/bankSupportPost")>\n' +
            '  <div class="form-group">\n' +
            '    <label for="firstname" class="col-sm-4 control-label">银行代码:</label>\n' +
            '    <div class="col-sm-6">\n' +
            '      <input type="hidden" name="userName" value=<%= username %>>\n' +
            '      <input type="text"  class="form-control" name="appCode" placeholder="请输入银行代码">\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="form-group">\n' +
            '    <label for="lastname" class="col-sm-4 control-label">银行卡类型:</label>\n' +
            '    <div class="col-sm-6">\n' +
            '      <input type="text"  class="form-control" name="cardType" placeholder="请输入银行卡类型">\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="form-group">\n' +
            '    <label for="lastname" class="col-sm-4 control-label">渠道:</label>\n' +
            '    <div class="col-sm-6">\n' +
            '      <input type="text"  class="form-control" name="channel" placeholder="请输入渠道">\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="form-group">\n' +
            '    <label for="lastname" class="col-sm-4 control-label">登入方式:</label>\n' +
            '    <div class="col-sm-6">\n' +
            '      <input type="text"  class="form-control" name="loginWay" placeholder="请输入登入方式">\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="form-group">\n' +
            '    <label for="lastname" class="col-sm-4 control-label">状态:</label>\n' +
            '    <div class="col-sm-6">\n' +
            '      <label class="radio-inline">\n' +
            '        <input type="radio" name="appStatus" value="true" checked> 启用\n' +
            '    </label>\n' +
            '    <label class="radio-inline">\n' +
            '        <input type="radio" name="appStatus" value="false"> 停用\n' +
            '    </label>' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="form-group">\n' +
            '    <div class="col-sm-offset-1 col-sm-10">\n' +
            '      <button type="submit" class="btn btn-info btn-fill">提交修改</button>\n' +
            '    </div>\n' +
            '  </div>\n' +
            '</form>\n'

        });
    }

    function appSupportOperation(targetUrl) {
        $.ajax({
            type: "post",
            async: false,
            cache: 'false',
            url: targetUrl,
            data: $('#appSupportPost').serialize(),
            timeout: 10000,
            success: function (datas) {
            },
            error: function () {
                swal({
                    showConfirmButton: false,
                    title: "操作失败！",
                    type: "error",
                });
            }
        });
    }

    function loginOut() {
        var url = monitorHost + "monitor/login";
        window.location.href = url;
    }
</script>

</html>
